$trn: all .4s;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
  box-shadow: none;
  background: none;
  cursor: pointer;
  transition: $trn;

  &:hover {
    opacity: .7;
  }
}

.option {
  display: block;
  text-align: center;
  transition: $trn;

  &__input {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
  }

  &::before {
    content: '';
    display: block;
    width: 100%;
    padding-top: 100%;
    background: var(--bg) no-repeat;
  }

  &-active {
    background: linear-gradient(#ffffff00, #83e758, #ffffff00);
  }
}

.settings {
  display: flex;
}

.home {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__add {
    width: 160px;
    font-size: 20px;
  }

  &__settings {
    margin: 60px 0 40px;

    .option {
      width: 120px;
      margin: 10px;
      font-size: 16px;
    }
  }

  &__btn {
    font-size: 18px;
    display: flex;
    align-items: center;

    &::after {
      content: '';
      display: block;
      height: 70%;
      width: 20px;
      margin-left: 8px;
      background: url(./assets/svg/sprite.svg#right);
    }

    &:disabled {
      opacity: 0;
    }
  }
}

.preview {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;

  &__controls {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    border-bottom: 1px solid #000;
    background: #ffffffcc;
    opacity: 0;
    animation: hide 2s linear;
    transition: $trn;

    &:hover {
      opacity: 1;
    }

    .option {
      width: 40px;
      margin: 5px;
    }
  }

  &__btn {
    height: 30px;
    width: 30px;

    &-prev {
      background: url(./assets/svg/sprite.svg#left);
    }

    &-next {
      background: url(./assets/svg/sprite.svg#right);
    }
  }

  &__img {
    box-shadow: 10px 10px 140px rgba(0, 0, 0, 0.333);

    &-default {
      max-width: 100vw;
      max-height: 100vh;
    }

    &-fill {
      width: 100vw;
      height: 100vh;
    }

    &-horizontal {
      width: 100vw;
    }

    &-vertical {
      height: 100vh;
    }
  }
}

@media screen and (orientation: landscape) {
  .preview__img-square {
    width: 80vh;
    height: 80vh;
  }
}

@media screen and (orientation: portrait) {
  .preview__img-square {
    width: 80vw;
    height: 80vw;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}