*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.option {
  display: block;

  &__input {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
  }

  &::before {
    content: '';
    display: block;
    width: 100%;
    padding-top: 100%;
    background: var(--bg) no-repeat;
  }
}

.home {

  &__add {
    width: 120px;
    text-align: center;
    font-size: 20px;
  }
}

.preview {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  min-width: 100vw;
  min-height: 100vh;

  &__controls {
    position: absolute;
  }

  &__img {
    position: absolute;
  }
}